In [2]:
import os
import pandas as pd
import mysql.connector as mysql
from mysql.connector import Error

In [3]:
conn = mysql.connect(host='localhost', user='root', password='root')
cur = conn.cursor()
print(conn) # it will print a connection object if everything is fine
#Here we create a Database
cur.execute(f"CREATE DATABASE IF NOT EXISTS tweets;")
dbQuery = f"ALTER DATABASE tweets CHARACTER SET = utf8mb4 COLLATE = utf8mb4_unicode_ci;"
cur.execute(dbQuery)
conn.commit()

DatabaseError: 2003 (HY000): Can't connect to MySQL server on 'localhost:3306' (10061)

In [4]:
#Create a connection with DBName
db_dbname = mysql.connect(host='localhost', user='root', password='root',database = "tweets")
print(db_dbname) # it will print a connection object if everything is fine
cursor = db_dbname.cursor()
#Create a table with a Primary Key
cursor.execute("CREATE TABLE TweetInformation(id INT(11) NOT NULL AUTO_INCREMENT PRIMARY KEY,created_at VARCHAR(1000), source VARCHAR(1000), clean_text VARCHAR(200),polarity FLOAT,subjectivity FLOAT,lang VARCHAR(1000),favorite_count INT,retweet_count INT,original_author VARCHAR(1000),screen_count INT,followers_count INT,friends_count INT,hashtags VARCHAR(1000),user_mentions VARCHAR(1000),place VARCHAR(1000),place_coord_boundaries VARCHAR(100))")
## 'DESC table_name' is used to get all columns information
cursor.execute("DESC TweetInformation")

## it will print all the columns as 'tuples' in a list
print(cursor.fetchall())

DatabaseError: 2003 (HY000): Can't connect to MySQL server on 'localhost:3306' (10061)

In [5]:
#import data from a CSV file and Print It to Check
tweetinformation=pd.read_csv('processed_tweet_data.csv')
tweetinformation.head()

,created_at,source,original_text,polarity,subjectivity,lang,favorite_count,retweet_count,original_author,followers_count,friends_count,possibly_sensitive,hashtags,user_mentions,place
0,Fri Apr 22 22:20:18 +0000 2022,"<a href=""http://twitter.com/download/android"" ...",RT @nikitheblogger: Irre: Annalena Baerbock sa...,0.0,0.0,de,2356,355.0,McMc74078966,3,12,NaN,NaN,NaN,NaN
1,Fri Apr 22 22:19:16 +0000 2022,"<a href=""http://twitter.com/download/android"" ...",RT @sagt_mit: Merkel schaffte es in 1 Jahr 1 M...,0.0,0.0,de,1985,505.0,McMc74078966,3,12,NaN,NaN,NaN,NaN
2,Fri Apr 22 22:17:28 +0000 2022,"<a href=""http://twitter.com/download/android"" ...",RT @Kryptonoun: @WRi007 Pharma in Lebensmittel...,0.0,0.0,de,16,4.0,McMc74078966,3,12,NaN,NaN,NaN,NaN
3,Fri Apr 22 22:17:20 +0000 2022,"<a href=""http://twitter.com/download/android"" ...",RT @WRi007: Die #Deutschen sind ein braves Vol...,0.0,0.0,de,1242,332.0,McMc74078966,3,12,NaN,NaN,NaN,NaN
4,Fri Apr 22 22:13:15 +0000 2022,"<a href=""http://twitter.com/download/android"" ...",RT @RolandTichy: Baerbock verkündet mal so neb...,0.0,0.0,de,1329,386.0,McMc74078966,3,12,NaN,NaN,NaN,NaN

In [6]:
#loop through the data frame
for _,row in tweetinformation.iterrows():
    #here %S means string values
    #sql = "INSERT INTO tweets.tweetinformation VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
    sqlQuery = f"""INSERT IGNORE INTO tweetinformation (created_at,source,clean_text,polarity,subjectivity,lang,favorite_count,retweet_count,original_author,screen_count,followers_count,friends_count,hashtags,user_mentions,place,place_coord_boundaries)VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);"""
    data = (row[0], row[1], row[2], row[3], (row[4]), (row[5]), row[6], row[7], row[8], row[9], row[10], row[11],row[12], row[13], row[14], row[15])
    # Execute the SQL command
    cursor.execute(sqlQuery, data)
    #cursor.execute(sql, tuple(row))
    print("Record inserted")

IndexError: index 15 is out of bounds for axis 0 with size 15

In [7]:
## defining the Query
query = "SELECT * FROM tweetinformation"
## getting records from the table
cursor.execute(query)
## fetching all records from the 'cursor' object
records = cursor.fetchall()
## Showing the data
for record in records:
    print(record)

NameError: name 'cursor' is not defined